h2{
    color:darkblue;
    background-color: darkslategray;
}

.par{
    color:darkorchid;
    text-align: center;
    font-size: 25px;
}
#jk{
    color:darkmagenta;
}
div{
    height: 200px;
    width: 200px;
    color: blueviolet;
    background-color: aquamarine;
    text-align: center;
    align-content: center;
    padding: 10px;
    margin: 100px;
    border: 1px solid royalblue;
}
